<%- include('./include/header') %>

<div class="container py-md-5 container">
  <%- include('include/flash')%>
  <%- include('include/profileShared')%>

 
  <div class="list-group">
    <% followers.forEach(function(follower) { %>
    <a
      href="/profile/<%= follower.username %>"
      class="list-group-item mb-1 list-group-item-action littleDark"
    >
      <img class="avatar-tiny" src="<%= follower.avatar %>" />
      <%= follower.username %>
    </a>
    <% }) %>
  </div>
</div>

<%- include('./include/footer') %>
